/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#featurePara{
  letter-spacing: 0.5px;
}

.lead
{
  text-align: justified;
}

.row p{
  text-align: justify;
}

.tab-content p
{
  text-align: justify;
  margin-top: 10px;
}

#tab2 p{

  margin-left: 450px;
}

#features{
  text-align: center;
}
#features img{
  margin: 0 0 20px;
}
#fit
{
  text-align: center;
}

#locate
{
  margin-top: 40px;
  padding-top: 20px;
}

#locate b{
  margin-top: 30px;
}


footer{
  background: #333;
  color:#eee;
  font-size: 11px;
  padding:20px;

}

footer ul{
  list-style: none;

}

footer li{
  display: inline;
}
#tab1 img
{
  width:100%;
  height: 100%;
}
.unstyled
{
  margin-left: -30px;
}
/*-------------------------------------
   Typography
   -------------------------------------- */

   body{
     -webkit-font-smoothing: antialiased;
     text-rendering: optimizeLegibility;
   }
   .well .page-header
   {
     margin-top: 0px;
   }

   #moreInfo
   {
     margin-left: 0px;
   }
   #featuresHeading , #features
   {
     margin-left: -2px;
   }

/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-brand{
  background: url('../../images/fitlogo.jpg');
  width:90px;
}

 .searchInput
   {
      width: 180px;
      margin-top: 10px;
   }

.nav
{
  font-size: 13px;
}

.navbar-brand
{
  padding: 13px 15px;
}
   /*.nav
   {
     margin-top: 10px;
   }*/


/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel
{
  margin-top:60px;
}

.carousel-caption h3
{
  font-size: 26px;
  font-style: bold;
}

.carousel-caption h4
{
  font-size: 24px;
  font-style: bold;
}


#myCarousel .item {
  height: 400px;
}

#slide1
{
  background: url('../../images/medium.jpg') top center no-repeat;
}
#slide2
{
  background: url('../../images/medium2.jpg') top center no-repeat;
}

#slide3
{
  background: url('../../images/medium3.jpg') top center no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.well{
  margin: 20px 0;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

  #myCarousel .item
  {
    height: 170px;
  }
    #slide1
  {
    background: url('../../images/xsmall.png') top center no-repeat;
  }
  #slide2
  {
    background: url('../../images/small2.jpg') top center no-repeat;
  }

  #slide3
  {
    background: url('../../images/small3.jpg') top center no-repeat;
  }
  .carousel-caption h3
  {
    font-size: 22px;
  }
  .carousel-caption h4
  {
    font-size: 18px;
  }

}

/* Landscape phone to portrait tablet */
@media (min-width:481px && max-width: 769px) {
  #myCarousel .item
  {
    height: 310px;
  }
    #slide1
  {
    background: url('../../images/medium.jpg') top center no-repeat;
  }
  #slide2
  {
    background: url('../../images/medium2.jpg') top center no-repeat;
  }

  #slide3
  {
    background: url('../../images/medium3.jpg') top center no-repeat;
  }
  .carousel-caption h3
  {
    font-size: 22px;
  }
  .carousel-caption h4
  {
    font-size: 18px;
  }

}



/* Large desktop */
@media (min-width: 1200px) {
  #myCarousel .item
  {
    height: 500px;
  }
    #slide1
    {
      background: url('../../images/large.jpg') top center no-repeat;
    }
    #slide2
    {
      background: url('../../images/large2.jpg') top center no-repeat;
    }

    #slide3
    {
      background: url('../../images/large3.jpg') top center no-repeat;
    }

  }
